/* MAIN PAGE */
* {
  font-family: "Lato", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.Logo {
  width: 150px;
  height: 70px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 40px;
}

.navbar {
  display: flex;
  position: absolute;
  top: 90px;
  left: 250px;
  margin: 0, auto;
  gap: 45px;
}

.navbar .active {
  font-weight: bold;
  text-decoration: underline;
}

nav a {
  color: black;
  font-size: 24px;
  margin-top: -40px;
  text-decoration: none;
}

.Time {
  margin-left: 350px;
  margin-top: -40px;
}

.MainPhoto {
  width: 100%;
  height: 450px;
}

.Slogan {
  position: absolute;
  top: 400px;
  left: 110px;
  font-size: 36px;
  z-index: 1;
  color: white;
}

.WhyMed {
  margin-left: 100px;
  padding-top: 50px;
}

.text1 {
  margin-top: 40px;
  margin-left: 1000px;
  width: 500px;
}

.text2 {
  margin-top: -110px;
  padding-left: 100px;
  width: 500px;
}

.text3 {
  margin-top: 50px;
  margin-left: 100px;
  width: 500px;
  margin-bottom: 40px;
}
/* FOOTER */
.footer-section {
  background-color: #dfefff;
  height: 100px;
  width: 100%;
  margin: 0, auto;
  display: flex;
  justify-content: space-between;
}
.list-footer {
  color: black;
}
.link-footer {
  color: black;
}
.footer-text {
  color: black;
  padding: 24px;
}
.ul-footer {
  gap: 45px;
  display: flex;
  padding: 24px;
}
.div-color-blue {
  background-color: #0456b7;
  width: 100%;
  height: 20px;
}
.background-color-policy {
  background-color: #dfefff;
}
.policyHeader {
  background-color: white;
}
/* MAP */
.map {
  height: 400px;
  width: 100%;
}
.map-div {
  position: absolute;
  z-index: 1;
  background-color: #dfefff;
  width: 300px;
  height: 200px;
  right: 0;
}
.ourLoc {
  margin-left: 30px;
}
.ul-map {
  text-align: center;
  justify-content: center;
}
.link-map {
  color: black;
  margin: 10px;
}
/* SITE-MAP */
.sitemapheder {
  background-color: white;
}
.site-map-body {
  background-color: #dfefff;
}
.background-color-sitemap {
  margin-top: -20px;
}
.site-map {
  padding-left: 50px;
  padding-top: 40px;
  font-size: 32px;
}
.table-sitemap1 {
  margin-left: 100px;
  position: absolute;
  margin-top: 135px;
  font-size: 36px;
  border-collapse: collapse;
}
.table-sitemap1 tr {
  border-bottom: 2px solid #0456b7;
  border-top: 2px solid #0456b7;
}
.table-sitemap2 {
  margin-left: 550px;
  font-size: 36px;
  border-collapse: collapse;
}
.our-services {
  border-bottom: 2px solid #0456b7;
  border-top: 2px solid #0456b7;
}
.massage {
  border-bottom: 2px solid #0456b7;
}
.table-sitemap3 {
  margin-left: 1150px;
  margin-top: -93px;
  margin-bottom: 310px;
  font-size: 36px;
  border-collapse: collapse;
}
.table-sitemap3 tr {
  border-bottom: 2px solid #0456b7;
  border-top: 2px solid #0456b7;
}
.Request-Site-Map {
  text-decoration: none;
  border-top: none;
}
.service1 {
  margin-left: 20px;
  font-size: 28px;
  text-decoration: none;
}
.service2 {
  margin-left: 110px;
  font-size: 28px;
  text-decoration: none;
}
.service3 {
  margin-left: 110px;
  font-size: 28px;
  text-decoration: none;
}
/* ABOUT */
.div-about {
  width: 200px;
  height: auto;
  text-align: center;
}
.fist-img {
  width: 800px;
  height: 600px;
}
.div-texy-about {
  margin-left: 250px;
  margin-top: 100px;
}
.text-about {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  width: 335px;
}
.div-foto-text {
  display: flex;
}
.box-button {
  display: flex;
  padding-left: 40px;
}
.button-click {
  margin-left: 12px;
  width: 200px;
  border-radius: 50px;
  color: #0456b7;
  border: 1px solid #0456b7;
}
.gynecology {
  width: 400px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
}
.dantist {
  width: 500px;
  font-size: 20px;
  margin-top: -395px;
  margin-left: 520px;
}
.massageP {
  width: 400px;
  font-size: 20px;
  margin-top: -270px;
  margin-left: 1070px;
}