header{
	background-image: url(img/AquaBackGroung.png);
    height: 240px;
}

.Logo {
    width: 100px;
    height: 100px;
	margin-left: 710px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.navbar {
	display: flex;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    color: rgb(4, 48, 33);
    padding: 24px;
    font-size: 24px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(126, 237, 200);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-image: url(img/AquaBackGroung.png);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: rgb(73, 142, 199);}

.About {
    color: rgb(13, 109, 76);
    margin-left: 180px;
    font-size: 24px;
    text-decoration: none;
}

.Doc {
    color: rgb(16, 146, 100);
    margin-left: 190px;
    font-size: 24px;
    text-decoration: none;
}

.Time {
    color: rgb(16, 176, 120);
    margin-left: 200px;
    font-size: 24px;
    text-decoration: none;
}

.Info {
    color: rgb(20, 194, 133);
    margin-left: 200px;
    font-size: 24px;
    text-decoration: none;
}